networks:
  dev:

services:
  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - "./client:/usr/share/nginx/html"
      - "./nginx.conf:/etc/nginx/conf.d/default.conf"
    depends_on:
      - backend
    networks:
      - dev

  backend:
    build:
      context: ./app
    expose:
      - "8000"
    networks:
      - dev
