networks:
  dev:

services:
  nginx:
  image: nginx:stable-alpine
  ports:
    - "80:80"
  volumes:
    - ./nginx.conf:/etc/nginx/conf.d/default.conf
    - ./client:/usr/share/nginx/html
  depends_on:
    - backend
  networks:
    - dev
